<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>weather app</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="main-content">
    {{>header}}
      <main class="title">
        <img src='/img/download.jpg' alt='sky picture' class="portrait"/>
        <p>{{name}}</p>
         <p>This is Weather Application just for practice perpose created using HTML/CSS, Js, Node.js(request, handlerbar aka hbs). MapBox API to get geographical code for perticular city and Weather Stack API used for weather information using latitude and longitude.</p>
      </main>
    </div>
    {{>footer}}
  </body>
</html>